* {
    margin: 0;
    padding: 0;
}

.exercise-inputs {
    display: flex;
    flex-direction: column;
    border: 1px solid red;

    margin: 0 auto;
    padding: 25px;
    width: 200px;
}
button {
    margin: 10px 0;
    
}

.inputs {
    padding: 15px;
}

input {
    width: 100%;
}